# Python cache
__pycache__/
*.pyc
*.pyo

# Spyder
.spyderproject
.spyproject

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
# Raw XAI evaluation maps
outputs/XAI_Evaluation_Dataset/Raw_XAI_Maps/

# Raw single-image XAI maps
outputs/Raw_XAI_Maps_ResNet50_FineTuned/*.npy
